body {
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  color: #444;
  padding: 15px;
}


table {

  td, th {
    padding: 5px;
  }

}
.bracket-table {
  margin-top: 20px;

  th {
    border-bottom: 2px solid #111;
  }

  tbody tr:nth-child(even) {
    background: #EEE;
  }

  .selected-rate td, .selected-file-type {
    background: rgb(206, 222, 245)
  }

  .selected-rate .selected-file-type {
    font-weight: bold;
    color: #111;
  }

}

.rate-calculation-table {

  min-width: 400px;
  margin-top: 30px;

  thead th {
    text-align: left
  }
  .rate-calculation-total {
    font-weight: bold;
    border-style: double;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
  }

  .rate-calculation-total-label {
    color: #555;
    text-align: right;
  }
}

.calculated-values {
  float: left;
  width: 25%;
  margin-top: 20px;
  font-size: 20px
}

.flexbox {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}


